<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      <h1>Word</h1>
    </div>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <label> Word </label>
      <input class="form-control" type="text" name="" value="<%= @eng_word_translation.eng_word.word %>" disabled>
    </div>
    <%= form_for @eng_word_translation do |f| %>
      <div class="form-group">
        <%= f.label :definition %>
        <%= f.text_field :definition, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :word_type %>
        <%= f.select :word_type, [ 'нэр үг', 'тэмдэг нэр', 'үйл үг', 'дайвар үг', 'төлөөний үг' ], {}, {class: "form-control"} %>
      </div>

      <div class="form-group">
        <%= f.label :sample_sentence %>
        <%= f.text_area :sample_sentence, :rows => 3, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :sentence_translation %>
        <%= f.text_area :sentence_translation, :rows => 3, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.hidden_field :eng_word_id, :value => @eng_word_translation.eng_word_id %>
      </div>

      <div class="form-group">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  </div>
  <div class="panel-footer">
  </div>
</div>
