<%= form_for @eng_word do |f| %>
  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <%= f.fields_for :eng_word_translations do |builder| %>
    <%= render "eng_word_translations", :f => builder %>
  <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
