<div class="jumbotron">
  <%= react_component('WordBox', @merriam_webster) %>
  <% if @eng_words.count != 0 %>
    <% @eng_words.first.eng_word_translations.each do |translation| %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= @eng_words.first.word %>
          </h3>
        </div>
        <div class="panel-body">
          <%= translation.definition %> <br>
          <%= translation.sample_sentence %> <br>
          <%= translation.sentence_translation %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
